# data science
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2

# Google Cloud
google-cloud-storage==3.10.1

# API
fastapi==0.136.1
uvicorn==0.46.0

# Model
xgboost==2.0.3
joblib==1.5.3

# Visualization
shap==0.45.1
